/* .container {
  display: flex;
  justify-content: end;
} */

.list {
  display: flex;
  justify-content: flex-end;
  gap: 100px;
  list-style: none;
}

.item {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #cecfd2;
  cursor: pointer;
}

.number {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;
  /* color: #59be99; */
}

.flags-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 20px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.flag {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.select-idiom {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #cecfd2;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .list {
    justify-content: space-between;
    margin-top: 40px;
    gap: 0;
  }

  .item {
    font-size: 14px;
  }

  .number {
    font-size: 14px;
  }

  .flags-container {
    width: 100%;
    flex-direction: row;
    right: 10px;
    top: 0;
    padding-top: 10px;
    background-color: #1e1e1e;
    left: auto;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    z-index: 1;
  }
  .select-idiom {
    margin-bottom: 0;
  }
}
