.blur-circle {
  position: absolute;
  z-index: -1;
}

.blur-circle.green-background {
  background-color: rgba(89, 190, 153);
}

.blur-circle.blue-background {
  background-color: #5450f9;
}

.blur-circle.red-background {
  background-color: #f61d1d;
}

.blur-circle::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  filter: blur(40px);
}

.blur-circle--1 {
  top: 600px;
  left: -40px;
  width: 100px;
  height: 100px;
  filter: blur(70px);
}

.blur-circle--2 {
  top: 1500px;
  left: 600px;
  width: 100px;
  height: 100px;
  filter: blur(90px);
}

.blur-circle--3 {
  top: 2400px;
  left: 800px;
  width: 100px;
  height: 100px;
  filter: blur(90px);
}

.blur-circle--4 {
  top: 2250px;
  left: 1050px;
  width: 100px;
  height: 100px;
  filter: blur(70px);
}
